
.btn-custom{
    background-color: #db4e4e;
    color: white;
}
.btn-custom:hover{
    background-color: #c43c3c;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
 .avatar {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background-color: #007bff; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    font-weight: bold;
    text-transform: uppercase; 
}

.avatar::before {
    content: attr(data-avatar);
}

  
  .comment .content {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .comment p {
    margin: 0;
    color: #555;
    font-size: 1rem;
  }
  
  .comment .reply-btn {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .comment .reply-btn:hover {
    background-color: #218838;
  }
  
  .comment .content .comment-reply {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 0.9rem;
    color: #888;
    border-left: 3px solid #ddd;
  }
  
  
  .article{
    margin-bottom: 10px;
  }
  .article-content {
    padding: 10px;
  }
  
  .filter-btn {
    margin-right: 10px;
  }
  