img {
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    }
  
  img:hover {
    transform: scale(1.05);
  }
  /* botones de filtro */
.btn-group {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-top: 20px;
  }
  .filter {
    background-color: #db4e4e; 
    color: #fff;            
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .filter:hover {
    background-color: #d52b2b;
  }
  
  .filter.active {
    background-color: #cc0011; 
    color: #fff;
  }
  /*GALERIA*/
  .gallery {
    max-width: 1200px;
    margin:0 auto;
    column-gap:15px;
    row-gap: 15px;
  }

  .image-item{
    margin-bottom: 15px;
    text-align: center;
  }

  
  .image-item img {
    width: 100%;
    display: block;
    border-radius: 12px;
    transition: transform 0.3s ease;
  }
  
  .image-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }
  
  .image-item:hover img {
    transform: scale(1.05);
  }
  
  /*Tabla*/
@media (max-width: 768px) {
  .table th, .table td {
    font-size: 12px;
    padding: 8px;
  }
}

  